body{
margin:0;
font-family:sans-serif;

background: linear-gradient(135deg,#7b2ff7,#00c6ff);
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
width:95%;
max-width:500px;
}

.card{
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,.2);
margin-bottom:20px;
}

h2{
text-align:center;
}

input{
width:100%;
padding:12px;
margin:10px 0;
border-radius:8px;
border:1px solid #ddd;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:8px;
cursor:pointer;
background:linear-gradient(90deg,#ff512f,#dd2476);
color:white;
font-weight:bold;
}

button:hover{
opacity:.9;
}

.tabs button{
margin-top:10px;
background:linear-gradient(90deg,#2193b0,#6dd5ed);
}

.tab{
margin-top:20px;
}

.hidden{
display:none;
}

#deployStatus,
#loginStatus{
margin-top:10px;
padding:10px;
border-radius:8px;
}

.success{
background:#d4edda;
color:#155724;
}

.error{
background:#f8d7da;
color:#721c24;
}
